.fjm-parent-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
  margin-top: -6rem;
}

.general-info-container {
  // border: 2px solid white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 2rem;
  padding: 2rem;
  img {
    height: 150px;
    width: 150px;
    padding: 1.5rem;
  }
}

.profile-card-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.single-profile-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  width: 20rem;
  height: 100%;
  padding: 1rem;

  img {
    height: 100px;
    width: 100px;

    border: 2px solid white;
    border-radius: 50%;
  }

  .flexi {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }
}