.App {
  background-color: #212529;
}

.link  {
  color:white;
  text-decoration:none;
}
.link:hover{
  color:white;
  text-decoration:none;
}
// .sticky-header{
//   position: ;
//   top:150px
// }

// SIDEBAR SETTINGS
.sidebar-content-flex {
  display: flex;
}

.sidebar-container-all {
  display: flex;
  min-width: 400px;
  max-width: 400px;
  min-height: 100vh;
  flex: 1;
}

.sidebar-outer-toggle-button {
  margin:25px;
  margin-bottom: 0;
  border: 2 solid white;
  border-radius: 5px;
  background-color: #212529;
  color: white;
}

.sidebar-inner-toggle-button {
  margin:25px;
  margin-bottom: 0;
  border: 2 solid white;
  border-radius: 5px;
  background-color: #212529;
  color: white;
}

button{
  background-color: rgba(0,0,0,0);
  text-decoration: none;
  border: 1px solid white;
  border-radius: 50px !important;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  &:hover {
    outline: 1px solid white !important;
  }
  &:active {
    background-color: white;
    color: #121517;
    outline: 1px solid white !important; 
  }
}

.hide-sidebar {
  display: flex;
}

.hide-outer-sidebar-button {
  display: none;
}

.hide-outer-sidebar-button-onClick {
  display: none;
}

.hide-inner-sidebar-button {
  display: none;
}

.hide-inner-sidebar-button-onClick {
  display: none;
}

// SHERD CONTAINER SETTINGS

.show-sherds-header-and-routes {
  display: flex;
  flex-direction: column;
}

.show-sherds-header {
  margin-left: 2.5rem;
  margin-top: 1.5rem;
}

// MEDIA QUERY (992px is Breakpoint!)

@media (max-width: 992px)
{
  .hide-sidebar 
  {
    display: none;
  }

  .hide-outer-sidebar-button 
  {
    display: flex;
  }

  .hide-inner-sidebar-button 
  {
    display: flex;
  }
}
