// S T A G E
.carousel-outer-container {
  height: 100vh;
  margin: 0;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


// C A R O U S E L
.carousel-inner-container {
  height: 90% !important;
  width: 100%;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: row;
}


// I M A G E - C O N T A I N E R
.carousel-image-container{
  display: flex;
  position: relative;
  justify-content: center;
  max-height: 1500px;
  min-height: 100vh;
}
.carousel-image-container > img{
  object-fit: cover;
  width: 100%;
  max-height: 1500px
}

@media (min-width: 900px) {
  .carousel-image-container > img{
    object-fit: contain;
    max-height: 100vh;
  }
}


//  C A R O U S E L - T E X T - F I E L D
.carousel-text-field{
  display: flex;
  position: absolute;
  width: 50vw;
  margin-top: 3.9vw;
  margin-bottom: 25%;
}


//  C A R O U S E L - T E X T - F I E L D
.carousel-text{
  font-size: 3.9vw;
  line-height: 4.3vw;
  color: white;
  font-weight: 600;
  display: flex;
  text-align: center;
}


// H E A D L I N E
.carousell-headline{
  display: flex;
  position: absolute;
  margin-top: -5%;
  z-index: 2;
  font-size: calc(12vw + 2vmin);
  color: white;
  text-shadow: 0px 0px 20px black;
  font-family: 'Readex Pro', sans-serif;
  font-weight: 700;
}



// B U T T O N - L E I S T E
.carousel-btn {
  width: 87%;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .button{
    padding-left: 2rem;
    padding-right: 2rem;
    &:hover {
      outline: 1.5px solid white !important;
    }
    &:active {
      background-color: white;
      color: #121517;
      outline: 1.5px solid white !important; 
    }
  }
}

.carousel-indicators {
  display: none;
}

.carousel-control-prev-icon, 
.carousel-control-next-icon {
  margin-top: 5vw;
}
.carousel-control-prev,
.carousel-control-next{
  height:fit-content;
  margin:auto
}






// * {
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
// }

// body {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   height: 100vh;
//   background-color: #f4f4f4;
// }

// .swiper {
//   width: 100%;
// }

// .swiper-wrapper {
//   width: 100%;
//   height: 35em;
//   display: flex;
//   align-items: center;
// }

// .card {
//   width: 20em;
//   height: 90%;
//   background-color: #fff;
//   border-radius: 2em;
//   box-shadow: 0 0 2em rgba(0, 0, 0, .2);
//   padding: 2em 1em;
//   align-items: center;
//   flex-direction: column;
//   margin: 0 2em;
// }

// .swiper-slide:not(.swiper-slide-active) {
//   filter: blur(1px);
// }

// .card-image {
//   width: 10em;
//   height: 10em;
//   border-radius: 50%;
//   border: 5px solid #9176ff;
//   padding: 3px;
//   margin-bottom: 2em;
// }

// .card_image img {
//   width: 100%;
//   height: 100%;
//   border-radius: 50%;
//   object-fit: cover;
// }

// .card_content {
//   display: flex;
//   align-items: center;
//   flex-direction: column;
// }

// .card_title {
//   font-size: 1.5em;
//   font-weight: 500;
//   position: relative;
//   top: .2em;
// }

// .card_name {
//   color: #9176ff;
// }

// .card_text {
//   text-align: center;
//   font-size: 1.1em;
//   margin: 1em 0;
// }

// .card_btn {
//   background-color: #9176ff;
//   color: #fff;
//   font-size: 1rem;
//   text-transform: uppercase;
//   font-weight: 600;
//   border: none;
//   padding: .5em;
//   border-radius: .5em;
//   margin-top: .5em;
//   cursor: pointer;
// }