.favcart-cardd{
  margin-bottom: 10px;
  border-radius: 15px;
  width: 650px
}

.favcart-hl{
  font-family: 'Readex Pro', sans-serif;
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: 3rem;
  color: white;
}

.favcart-text{
  padding-top: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem
}

.favcart-p > p{
  margin:2px;
  color: white;
}

.favcart-button-container{
  display: flex;
  margin-top: 1rem;
  gap: 1rem;
}

.favcart-button{
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
