// BootStrap Class Override for Header/Navbar Components
#length-parent{
  position: relative;
  z-index: 1;
}
#quantity-fav{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom:-5px;
  right:5px;
  z-index:2;
  background-color: red;
  border: 1px solid white;
  width:20px;
  height:20px;
  text-align: center;
  border-radius: 50%
}
#quantity-cart{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom:0;
  right:0;
  z-index:2;
  background-color: red;
  border: 1px solid white;
  width:20px;
  height:20px;
  text-align: center;
  border-radius: 50%
}
// 3 bars from responsive toggler "button"
.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 30 30%27%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap=%27round%27 stroke-miterlimit=%2710%27 stroke-width=%272%27 d=%27M4 7h22M4 15h22M4 23h22%27/%3e%3c/svg%3e");
}

// border fom responsive toggler "button"
.navbar-light .navbar-toggler-icon:active {
  border-color: white;
}



.navbar-collapse {
  flex-grow: 0 !important; 
}

// Just changing the fucking blue outlineBorder (whatever) into a normal color
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {  
  border-color: grey;
  box-shadow: none;
  outline: 0 none;
}


.navbar{
  background-color: #212529;
}

.searchfield{
  border: 1px solid white;
  border-radius: 50px;
  width: 75px;
  height: 3rem;
  background-color: rgba(0,0,0,0)
}

.header-hl{
  font-family: 'Readex Pro', sans-serif;
  font-weight: 700;
  font-size: 1.75rem;
}