.hidden{
  visibility:hidden;
}
.sherd-container-all{
  display:flex;
  flex-wrap:wrap;
  flex: 3;
  margin: 5px;
}

.sherds-all{
  margin:5px;
  padding-left: 10px;
  padding-right: 10px;
  width: 280px;
  height: 400px;
  display:flex;
  flex-direction:column;
  border-radius: 10px;
}

.sherd-text-all{
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.4rem;

}
.red-text{
  color:red;
}

.link  {
  color:white;
  text-decoration:none;
}
.link:hover{
  color:white;
  text-decoration:none;
}

.img-container-all{
  position:relative;
}

.details-top-container{
  display:flex;
}
.details-bottom-container{
  display:flex;
}
.color-container{
  display: flex;
}
.circle{
  border:1px solid white;
  width:40px;
  height:40px;
  border-radius: 50%;
  margin: 5px;
  cursor:pointer;
  display: flex;
}

.column{
  display: flex;
  flex-direction: column;
}

.row{
  display: flex;
  flex-direction: row;
  gap: 2rem
}

.circle *{
  justify-content: center;
}


.red{
  background-color:rgb(200, 0, 50);
}
.darkred{
  background-color: rgb(125, 0, 50);
}
.red-grad-135{
  background: linear-gradient(135deg, rgb(200, 0, 50)30%, rgb(125,0,50)80%);
}




.white{
  background-color: rgb(250, 250, 250);
}
.darkwhite{
  background-color: rgb(200, 200, 200);
}
.white-grad-135{
  background: linear-gradient(135deg, rgb(250, 250, 250)30%, rgb(200, 200, 200)80%);
}




.orange{
  background-color: rgb(250, 125, 0);
}
.darkorange{
  background-color: rgb(175, 75, 0);
}
.orange-grad-135{
  background: linear-gradient(135deg, rgb(250, 125, 0)30%, rgb(175, 75, 0)80%);
}




.lime{
  background-color: rgb(125, 250, 0);
}
.darklime{
  background-color: rgb(50, 125, 0);
}
.lime-grad-135{
  background: linear-gradient(135deg, rgb(125, 250, 0)30%, rgb(50, 125, 0)80%);
}




.black{
  background-color: rgb(25, 25, 25);
}
.darkblack{
  background-color: rgb(0, 0, 0);
}
.black-grad-135{
  background: linear-gradient(135deg, rgb(45, 45, 45)30%,rgb(0, 0, 0)80%);
}




.grey{
  background-color: rgb(125, 125, 125);
}
.darkgrey{
  background-color: rgb(75, 75, 75);
}
.grey-grad-135{
  background: linear-gradient(135deg, rgb(125, 125, 125)30%, rgb(75, 75, 75)80%);
}




.oliv{
  background-color: rgb(100, 100, 0);
}
.darkoliv{
  background-color: rgb(60, 60, 0);
}
.oliv-grad-135{
  background: linear-gradient(135deg, rgb(100, 100, 0)30%, rgb(60, 60, 0)80%);
}




.beige{
  background-color: rgb(250, 200, 125);
}
.darkbeige{
  background-color: rgb(200, 150, 75);
}
.beige-grad-135{
  background: linear-gradient(135deg, rgb(250, 200, 125)30%, rgb(200, 150, 75)80%);
}




.blue{
  background-color: rgb(0, 100, 200);
}
.darkblue{
  background-color: rgb(0, 50, 150);
}
.blue-grad-135{
  background: linear-gradient(135deg, rgb(0, 100, 200)30%, rgb(0, 50, 150)80%);
}