/* D E T A I L - C A R D*/
.detail-card{
    display: flex;
    flex-direction: row;
    border: 5px solid lime;

    margin: 3rem;
    border-radius: 15px;
    max-height: 500px;
}


.detail-top-container{
    display: flex;
    flex-direction: column;

}


/* LEFT */
/* S H E R D - S H E R D */
.detail-sherd{
    display: flex;
    border: 5px solid orange;


    flex-direction: column;
    max-width: 500px;
    position: relative;

}
.detail-sherd img{
    justify-content: center;
    object-fit: contain;
    min-height: 290px;
    min-width: 290px;
}
.detail-text{
    font-size: 2.25vw;
    line-height: 2.5vw;
    font-weight: 600;
    text-align: center;
    margin-right: 13vw;
    margin-left: 12.5vw;
    display: flex;
    position: absolute;
    top: 4.8vw;
}
.detail-text-hl{
    font-size: 1.4vw
}

/* S H E R D - I N F O */
.details-single{
    font-weight: 600;
    display: flex;
    position: absolute;
    width: 100%;
    bottom: 0;
    padding-bottom: 1.5rem;
    padding-left: 2.8vw;
    padding-right: 2.8vw
}

.details-single-description{
    flex: 2
}

.details-single-buttons{
    align-items:flex-end;
    flex: 1,
}


/* RIGHT */
/* C U S T O M I Z E R */
.customize{
    display: flex;
    border: 5px solid orangered;

    
    flex-direction: column;
    color: white;
    padding: 2rem;

}
.customize h5{
    margin-top: 2rem;
}



@media (max-width: 800px) {
    .detail-card{
        flex-direction: column;
    }
}
