/* D E T A I L - C A R D*/
.detail-card{
    display: flex;
    flex-direction: row;
    outline: 5px solid lime;
    border-radius: 15px;
}



/* LEFT */
/* S H E R D - S H E R D */
.detail-sherd{
    display: flex;
    outline: 5px solid orange;

    flex-direction: column;
    width: 500px;
    /* height: 490px; */
    position: relative;

}
.detail-sherd img{
    justify-content: center;
    object-fit: contain;
}
.detail-text{
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 600;
    text-align: center;
    margin-right: 12rem;
    margin-left: 11rem;
    display: flex;
    position: absolute;
    top: 4.8rem;    
    font-weight: bold;
}
.detail-text-hl{
    font-size: 1.5rem
}

/* S H E R D - I N F O */
.details-single{
    font-weight: 600;
    display: flex;
    position: absolute;
    width: 500px;
    bottom: 0;
    padding-bottom: 1.5rem;
    padding-left: 2.8rem;
    padding-right: 2.8rem
}

.details-single-description{
    flex: 2
}

.details-single-buttons{
    align-items:flex-end;
    flex: 1,
}


/* RIGHT */
/* C U S T O M I Z E R */
.customize{
    display: flex;
    outline: 5px solid orangered;
    /* height: 490px; */

    flex-direction: column;
    color: white;
    padding: 2rem;

}
.customize h5{
    margin-top: 2rem;
}
.select-single{
    height:fit-content;
}



@media (max-width: 1300px) {
    .detail-card{
        flex-direction: column;
    }
}
