.sherd-container-all{
  display:flex;
  flex-wrap:wrap;
}

.sherds-all{
  margin:25px;
  width: 200px;
  display:flex;
  flex-direction: column;
  border:1px solid black;
}

.red-text{
  color:red;
}

.link  {
  color:black;
  text-decoration:none;
}
.link:hover{
  color:black;
  text-decoration:none;
}

.img-container-all{
  position:relative;
}

.details-top-container{
  display:flex;
}
.details-bottom-container{
  display:flex;
}
.color-container{
  display: flex;
}
.circle{
  border:1px solid black;
  width:40px;
  height:40px;
  border-radius: 50%;
  margin: 5px;
  cursor:pointer;
}

.column{
  display: flex;
  flex-direction: column;
}

.row{
  display: flex;
  flex-direction: row;
  gap: 2rem
}


.red{
  background-color:rgb(200, 0, 50);
}
.darkred{
  background-color: rgb(125, 0, 50);
}



.white{
  background-color: rgb(250, 250, 250);
}
.darkwhite{
  background-color: rgb(200, 200, 200);
}



.orange{
  background-color: rgb(250, 125, 0);
}
.darkorange{
  background-color: rgb(175, 75, 0);
}



.lime{
  background-color: rgb(125, 250, 0);
}
.darklime{
  background-color: rgb(50, 125, 0);
}



.black{
  background-color: rgb(25, 25, 25);
}
.darkblack{
  background-color: rgb(0, 0, 0);
}



.grey{
  background-color: rgb(125, 125, 125);
}
darkgrey{
  background-color: rgb(75, 75, 75);
}



.oliv{
  background-color: rgb(100, 100, 0);
}
.darkoliv{
  background-color: rgb(60, 60, 0);
}



.beige{
  background-color: rgb(250, 200, 125);
}
.darkbeige{
  background-color: rgb(200, 150, 75);
}



.blue{
  background-color: rgb(0, 100, 200);
}
.darkblue{
  background-color: rgb(0, 50, 150);
}