.sidebar { 
  display: flex; 
  justify-content: space-between; 
  flex-direction: row-reverse; 
  color: white; 
  background-color: #1b1e21;
  width: 100%; padding: 2rem; 
} 

.ul-sidebar { 
  margin: 2rem; 
  width: 100%;}

.li-sidebar { 
  background-color: #121517;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 2rem;
  list-style-type: none;
  margin-bottom: 0.5rem; 
  border-radius: 50px;

  &:hover {
    outline: 1px solid white !important;
  }
  &:active {
    background-color: white;
    color: #121517;
    outline: 1px solid white !important; 
  }
} 

