.sidebar {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  color: white;
  background: linear-gradient(-90deg, rgb(55, 55, 55),rgb(10, 10, 10));
  width: 100%;
  padding: 2rem;
}

.ul-sidebar {
  margin: 2rem;
  width: 100%;
  .li-sidebar {
    
    list-style-type: none;
    margin-bottom: 4rem;
    border-bottom: 1px solid white;
  }
}